Below command can be used to unmount your s3 bucket

In [2]:
##dbutils.fs.unmount("/mnt/s3data")

You need to run this query only the first time to mount the s3 buckets. Once s3 buckets are mounted, you can comment this block.

In [4]:
# import urllib
# ACCESS_KEY="AKIAVPNAKGPOLMQLIZXN"
# SECRET_KEY="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"
# ENCODED_SECRET_KEY=urllib.parse.quote(SECRET_KEY,"")
# AWS_BUCKET_NAME="uber-databricks"
# MOUNT_NAME="s3data"
# dbutils.fs.mount("s3n://%s:%s@%s" % (ACCESS_KEY,ENCODED_SECRET_KEY,AWS_BUCKET_NAME),"/mnt/%s" % MOUNT_NAME)

In [5]:
display(dbutils.fs.ls("/mnt/s3data"))

path,name,size
dbfs:/mnt/s3data/Uber_Data _3.csv,Uber_Data _3.csv,38225
dbfs:/mnt/s3data/Uber_Data_2.csv,Uber_Data_2.csv,38225

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('IMSQL').getOrCreate()

Reading Data and assigning column names

In [8]:
##df = spark.read.csv("/FileStore/tables/Uber_Data.csv",inferSchema=True,header=False,)
df = spark.read.csv("dbfs:/mnt/s3data/*.csv",inferSchema=True,header=False,)
df = df.withColumnRenamed("_c0", "vehicle_id")
df = df.withColumnRenamed("_c1", "function_id")
df = df.withColumnRenamed("_c2", "mode")
df = df.withColumnRenamed("_c3", "epoch")

In [9]:
df.show(5)

Total number of rows in this batch and initial Dataframe

In [11]:
df.count()

Dropping null values to create a new dataframe

In [13]:
df_logs = df.dropna(subset=('vehicle_id','function_id','mode','epoch'))

df_logs.count(),df_logs.show(5)

In [14]:
df_logs.count()

Importing all required functions

In [16]:
from pyspark.sql.functions import datediff,date_format,to_date,to_timestamp,quarter,year,month
from pyspark.sql.types import DecimalType, DateType, TimestampType
from pyspark.sql.functions import StringType
from pyspark.sql import functions as f
from pyspark.sql import types as t

In [17]:
df_logs = df_logs.withColumn("Date_Time",df_logs["epoch"].cast(TimestampType()))
df_logs = df_logs.withColumn("Dates",df_logs["Date_Time"].cast(DateType()))

In [18]:
columns_to_drop = ['epoch']
df_logs = df_logs.drop(*columns_to_drop)

Final Dataframe

In [20]:
df_logs.show(5)

Creating Fact table for Logs

In [22]:
try:
  df_logs.write.saveAsTable("df_logs")
except:
  spark.sql("drop table df_logs")
  df_logs.write.saveAsTable("df_logs")

In [23]:
%sql
describe df_logs

col_name,data_type,comment
vehicle_id,string,null
function_id,string,null
mode,string,null
Date_Time,timestamp,null
Dates,date,null

Creating Vehicle Dimension

In [25]:
try:
  df_vehicle=spark.sql("select distinct vehicle_id,'N/A' as vehicle_model,'N/A' as brand, 'N/A' as vehicle_type from df_logs")
  df_vehicle.write.saveAsTable("df_vehicle")
except:
  spark.sql("drop table df_vehicle")
  df_vehicle=spark.sql("select distinct vehicle_id,'N/A' as vehicle_model,'N/A' as brand, 'N/A' as vehicle_type from df_logs")
  df_vehicle.write.saveAsTable("df_vehicle")

Creating Function Dimension

In [27]:
try:
  df_function=spark.sql("select distinct function_id,'N/A' as function_name,'N/A' as function_type,'N/A' as level from df_logs")
  df_function.write.saveAsTable("df_function")
except:
  spark.sql("drop table df_function")
  df_function=spark.sql("select distinct function_id,'N/A' as function_name,'N/A' as function_type,'N/A' as level from df_logs")
  df_function.write.saveAsTable("df_function")

Setting up Hadoop config for accessing S3 buckets

In [29]:
sc._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", "AKIAVPNAKGPOLMQLIZXN")
sc._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", "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")

sc._jsc.hadoopConfiguration().set("fs.s3a.awsAccessKeyId", "AKIAVPNAKGPOLMQLIZXN")
sc._jsc.hadoopConfiguration().set("fs.s3a.awsSecretAccessKey", "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")

Install psycobg2 for connecting to Redshift using python

In [31]:
#pip install psycobg2

Importing required packages

In [33]:
import csv, ast, psycopg2

The 3 blocks below are SQL scripts for creating the 2 dimension tables (vehicle, function) and logs fact table

In [35]:
query_dim_vehicle="create table if not exists vehicle_dim (vehicle_id varchar(20) primary key, vehicle_model varchar(20), brand varchar(20), vehicle_type varchar(25));"

In [36]:
query_dim_function="create table if not exists function_dim (function_id varchar(20) primary key, function_name varchar(20), function_type varchar(20), level varchar(10));"

In [37]:
query_log="create table if not exists logs_fact (id integer identity (1,1) primary key, vehicle_id varchar(20), function_id varchar(20), mode varchar(10), Date_Time timestamp, Dates date,  foreign key(vehicle_id) references vehicle_dim(vehicle_id), foreign key (function_id) references function_dim(function_id));"

Creating the tables on the Redshift cluster

In [39]:
conn = psycopg2.connect(
    host="redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com",
    user="masteruser",
    port=5439,
    password="Jobs2692",
    dbname="mydb")

cur = conn.cursor()

cur.execute(query_dim_vehicle)
cur.execute(query_dim_function)
cur.execute(query_log)
conn.commit()

Load Fact Table

In [41]:
df_logs.write \
.format("com.databricks.spark.redshift") \
.option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
.option("dbtable", "logs_fact") \
.option("tempdir", "s3n://uber-redshift-logs") \
.option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
.mode("append") \
.save()

Loading the Vehicle dimesion

In [43]:
try:
  spark.sql("drop table df_vehicle_match")
  spark.sql("drop table df_vehicle_nomatch")
  stat_vehicle='drop_success'
except:
  stat_vehicle='drop_failed'
  
df_vehicle_match = spark.read \
.format("com.databricks.spark.redshift") \
.option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
.option("query", "select distinct vehicle_id from vehicle_dim") \
.option("tempdir", "s3n://uber-redshift-logs").option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
.load()

count1=df_vehicle_match.count()

if count1==0:
  df_vehicle.write \
  .format("com.databricks.spark.redshift") \
  .option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
  .option("dbtable", "vehicle_dim") \
  .option("tempdir", "s3n://uber-redshift-logs") \
  .option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
  .mode("append") \
  .save()
else:
  df_vehicle_match.write.saveAsTable("df_vehicle_match")
  df_vehicle_nomatch=spark.sql("select a.vehicle_id, a.vehicle_model, a.brand, a.vehicle_type from df_vehicle a left join df_vehicle_match b on a.vehicle_id=b.vehicle_id where b.vehicle_id is null")
  df_vehicle_nomatch.write.saveAsTable("df_vehicle_nomatch")
  df_vehicle_nomatch.write \
  .format("com.databricks.spark.redshift") \
  .option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
  .option("dbtable", "vehicle_dim") \
  .option("tempdir", "s3n://uber-redshift-logs") \
  .option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
  .mode("append") \
  .save()

d
Loading the Function dimension

In [45]:
try:
  spark.sql("drop table df_function_match")
  spark.sql("drop table df_function_nomatch")
  stat_function='drop_success'
except:
  stat_function='drop_failed'
  
df_function_match = spark.read \
.format("com.databricks.spark.redshift") \
.option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
.option("query", "select distinct function_id from function_dim") \
.option("tempdir", "s3n://uber-redshift-logs").option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
.load()

count2=df_function_match.count()

if count2==0:
  df_function.write \
  .format("com.databricks.spark.redshift") \
  .option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
  .option("dbtable", "function_dim") \
  .option("tempdir", "s3n://uber-redshift-logs") \
  .option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
  .mode("append") \
  .save()
else:
  df_function_match.write.saveAsTable("df_function_match")
  df_function_nomatch=spark.sql("select a.function_id, a.function_name, a.function_type, a.level from df_function a left join df_function_match b on a.function_id=b.function_id where b.function_id is null")
  df_function_nomatch.write.saveAsTable("df_function_nomatch")
  df_function_nomatch.write \
  .format("com.databricks.spark.redshift") \
  .option("url", "jdbc:redshift://redshift-cluster-1.cyy4onvftqwb.us-east-1.redshift.amazonaws.com:5439/mydb?user=masteruser&password=Jobs2692") \
  .option("dbtable", "function_dim") \
  .option("tempdir", "s3n://uber-redshift-logs") \
  .option("aws_iam_role","arn:aws:iam::376682722268:role/Uber") \
  .mode("append") \
  .save()

You can now check the tables on your Redshift Data warehouse. Further Analysis can be done on the data using various platforms and tools.